body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	padding: 68px 0 0 80px;
}

header {
	background: #000;
	width: 100%;
	height: 52px;
	position: fixed;
	left: 0;
	top: 0;
}

.logo {
	/*float: left;
	margin-right: 20px;*/
}