<div>
	<nav class="jaggedNav">
		<ul class="parentItems"
			ng-mouseover="navControl($event)"
			ng-mouseout="navControl($event)">
			<li ng-repeat="item in items" 
				class="parentItem" 
				id="{{item.text}}" 
				ng-class="{
					'showChildren': showChildren
				}"
				ng-init="showChildren=false"
				ng-mouseover="showChildren=!showChildren"
				ng-mouseout="showChildren=!showChildren"
			>

				<a href="{{item.url}}">
					<i class="fa {{item.icon}} fa-2x"></i>
				</a>

				<div ng-if="item.children.length > 0"
					class="jaggedSubNav"
					ng-class="{
						'open' : showChildren
					}">
	          		<h3 class="title">
	          			<i class="fa {{item.icon}}"></i>
	          			{{item.text}}
	          		</h3>
	          		<ul class="childItems">
	            		<li ng-repeat="child in item.children" class="childItem">
	            			<a href="{{child.url}}">{{child.text}}</a>
	            		</li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
	<div class="jaggedSubNavBG"
		ng-class="{'show':navOpen}"></div>
</div>